/* default font-size according to the viewport width */
html {
  font-size: 16px;
  line-height: 1.5rem;
}
p {
  margin-bottom: 1.5rem;
}

/* @media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
} */
/*
#body
#main
    ##main workexp
    ##main education
#footer
*/
/*bg https://source.unsplash.com/lTxlm6e67XI/1600x900*/

/*#body*/
body {
  background-color: #fafcfe;
  color: #555;
  line-height: 1.8;
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue,
    sans-serif;
  /*max-width: 1349px;*/
  margin: 0 auto;
}
/*#header*/
header nav {
  display: flex;
  background-color: white;
  /* width: 100%; */
  padding: 30px;
  text-align: center;
  left: 0;
  top: 0;
  justify-content: flex-end;
  padding-bottom: 10px;
}
header nav#image {
  flex-grow: 0;
}
#image img {
  border-radius: 50%;
}
header nav section {
  flex-grow: 2;
}
/*header nav a#toggle{*/
/*    flex-grow: 2;*/
/*}*/
header nav a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  margin: 0 1rem;
  /*flex-grow:1;*/
}
section#menu {
  display: flex;
  justify-content: flex-end;
}
section#menu a {
}
#metadata-profile {
  text-align: center;
}
#profile-info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 6px rgba(0, 0, 0, 0.1);
}
#metadata-profile h2 {
  font-size: 3rem;
}

#toggle {
}
/*#main */
main {
  /*margin-top:40px;*/
}
#profile-container {
  width: 30%;
}

main section#about section#objective {
  /* float:left; */
  /* width: 65%; */
  /* margin-left: 5%; */
  /* margin-left: 45px; */
}
main section#about section.bg-image-about {
  /* padding: 0 175px; */
  overflow: auto;
}

img#profile {
  margin: 0.625rem;
  float: left;
  border-radius: 50%;
  height: auto;
  /* max-width: 500px; */
  /* width: 350px; */
  max-width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 6px rgba(0, 0, 0, 0.1);
}
main section#about {
  margin-bottom: 10px;
  overflow: auto;
  padding-top: 60px;
  /* width: 100%; */
  max-width: 950px;
  margin: 0 auto;
}

/*main section#about section#objective{
    float:left;
    width: 65%;
    margin-left: 5%;
}*/
main section#about section#objective #name h1 {
  margin-bottom: 2px;
  font-size: 2.5rem;
}
main section#about section#objective #job b {
  font-size: 24px;
}
/*margin for work exp and education*/
main section#workexp,
main section#education {
  margin: 0 auto;
  max-width: 950px;
}
/* ##main workexp*/
main section#workexp {
  padding-top: 50px;
}
main section#workexp section#job-titles {
  overflow: auto;
}

div.title h2 {
  font-weight: bold;
}
.date {
  font-weight: bold;
}

/* ##main education*/
main section#education {
  /* margin-top:50px; */
  overflow: auto;
  padding-top: 40px;
}

main section#education section.education-item {
  margin-bottom: 25px;
}

/* #footer*/
footer {
  min-height: 300px;
  background-color: rgba(43, 45, 66, 0.96);
  margin-top: 100px;
  text-align: center;
  background-image: url("/images/bg-img.png");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
.bg-image {
  padding: 80px;
  background-image: linear-gradient(rgb(64 10 10 / 50%), #0a1824);
  overflow: auto;
}
#socialsite span {
  font-weight: bold;
  margin-right: 10px;
  color: #ef2744;
  font-size: 1.25rem;
}
footer #copyright {
  margin-top: 10px;
}
footer h2,
footer #copyright {
  color: #fafcfe;
}
footer h2 {
  font-family: "Caveat", cursive;
  font-size: 2.375rem;
}
/*# something else*/
h1,
h2,
strong {
  color: #333;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 48px;
  /* margin: 0 0;*/
  margin-bottom: 30px;
}
#job b {
  font-family: "Caveat", cursive;
  font-size: 48px;
}

/*@media screen and (max-width:834px){
    main section#about section#objective{
        margin-left:2.5%;
    }
}*/

/*home*/
.blogpost-content h2 {
  font-weight: bold;
  font-size: 1.25rem;
}
.blogpost img {
  max-width: 150px;
  border-radius: 2px;
  max-height: 150px;
  height: 150px;
}
#blog-container {
  margin-bottom: 10px;
  /* overflow: auto; */
  padding-top: 60px;
  /* width: 100%; */
  max-width: 950px;
  margin: 0 auto;
}
.blogpost .blogpost-img {
  float: left;
}
.blogpost .blogpost-content {
  float: left;
  width: 79%;
  margin-left: 2%;
}
.blogpost {
  overflow: auto;
  margin-top: 50px;
}
.meta span:after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #8f8f8f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  top: -3px;
}
.meta {
  color: #8f8f8f;
  font-size: 0.8125rem;
}
.meta span a {
  color: #8f8f8f;
}
.blogpost .blogpost-content {
}
.blogpost a {
  text-decoration: none;
  color: #ef2744;
}
.nextlink {
  max-width: 950px;
  text-align: center;
  border-radius: 3px;
  background-color: #ef2744;
  padding: 0.7rem;
  margin-top: 5rem;
}
.nextlink a {
  text-decoration: none;

  color: white;
  width: 100%;
}

/*Blog container*/
@media screen and (min-width: 629px) {
  #calltoaction {
    min-width: 35rem;
    text-align: center;
  }
}
#calltoaction h2 {
  font-weight: bold;
  font-size: 25px;
}
#calltoaction button {
  background-color: #ef2744;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  width: 5rem;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  height: 3rem;
}
.button:hover {
  filter: brightness(1.05);
}

.button svg {
  transform: translateY(1px); /* Optical adjustment */
}
#calltoaction input {
  padding: 10px 15px;
  width: 20rem;
  font-size: 14px;
  height: 1.7rem;
}
#calltoaction form {
  margin-top: 1.6rem;
}
p a,
li a {
  text-decoration: none;
  color: #ef2744;
}
/*main post*/
main article {
  max-width: 950px;
  margin: 0 auto;
  /* margin-top: 7em; */
}
main article header {
  margin-bottom: 1em;
}
article header h1 {
  font-weight: bold;
  font-size: 1.9em;
  font-family: "Helvetica", "arial";
  margin-bottom: 0.1em;
}
article h2 {
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Helvetica", "arial";
  margin-top: 2em;
}
#next-pre {
  text-align: center;
  margin-top: 2em;
}
#next-pre button {
  background-color: #ef2744;
  border: none;
  color: white;
  padding: 17px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25rem;
  border-radius: 3px;
  font-weight: bold;
}
/*call to action button and email sub*/
/**
 * FONT FACE
 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("webfont/Inter-Black.woff2") format("woff2");
}

/**
 * VARIABLES
 */
:root {
  --color-primary: #4c2982;
  --color-secondary: #f9d170;
  --color-bg: #f9f7f3;
  --color-text: #252525;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
  --color-shadow: rgba(23, 11, 41, 0.12);
  --font-base-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-heading-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --metric-rhythm: 2rem;
  --metric-gutter: 2rem;
  --metric-box-padding: 1rem 1rem;
  --metric-interaction-padding: 0.6rem 0.6rem;
}
section#calltoaction h2 {
  font-family: var(--font-heading-family, sans-serif);
  font-size: 1.2rem;
  font-weight: 900;
  /*color: var(--color-primary);*/
  line-height: 1.1;
}
label {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
}
input[type],
button {
  border: none;
  margin: 0;
  font: inherit;
  line-height: 1;
  padding: 0.8rem;
  padding: var(--metric-interaction-padding);
  outline-offset: -1px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
button {
}
/**
 * GLOBAL FOCUS
 */
input[type]:focus,
button:focus {
  outline: 1px solid var(--color-primary);
}
/**
 * VISUALLY HIDDEN UTILITY
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*switch toggle*/
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  justify-content: flex-end;
}

em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 23px;
  position: relative;
  width: 37px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
nav #image .logo svg {
  width: 2.3rem;
  height: 2.3rem;
  stroke: white;
}

#profile-info {
  position: relative;
  padding: 3.5em 1em 1.9em;
  margin-bottom: 3em;
  color: #fff !important;
  background: #e32c5d;
  min-height: 20rem;
}
#metadata-profile h2,
#metadata-profile small {
  color: #fff !important;
}
#metadata-profile small {
  font-size: 1.2rem;
}
@media screen and (max-width: 834px) {
  .bg-image-about {
    text-align: center;
    margin: 0 auto;
  }
  img#profile {
    float: none;
  }
  #objective {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  div.title h2 {
    margin-bottom: 10px;
  }
  .date {
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 977px) {
  #job-titles {
    margin: 0 25px;
  }
  .education-item {
    margin: 0 25px;
  }
}
@media screen and (min-width: 834px) {
  main section#about section#objective {
    float: left;
    width: 65%;
    margin-left: 5%;
    /* margin-left: 45px; */
  }
  div.title {
    float: left;
    width: 30%;
  }
  div.description {
    float: left;
    width: 70%;
    margin-bottom: 37px;
  }
}
/* hide the thubmnail of blog post */
@media screen and (max-width: 870px) {
  div.blogpost img {
    display: none;
  }
  div.blogpost .blogpost-content {
    float: none;
    margin: 0 auto;
  }
}
/* for blog.html */
@media screen and (max-width: 816px) {
  section#calltoaction {
    margin: 0 0.8rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  div.blogpost {
    margin: 0 0.8rem;
    padding-bottom: 2rem;
  }
}
/* for blog.html call to action */
@media screen and (max-width: 620px) {
  section#calltoaction {
    width: auto;
  }
}
@media screen and (max-width: 540px) {
  #calltoaction button {
    width: 22rem;
  }
}

/* for post.html */
@media screen and (max-width: 972px) {
  section#blog-container {
    margin: 0 2rem;
  }
  main article {
    padding: 0 2em;
  }
  #next-pre button {
    width: 20rem;
  }
}
blockquote {
  display: block;
  position: relative;
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid #ef2744;
}
code {
  color: #1277a3;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
pre {
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: 1.3875;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}

pre code {
  font-family: "Ubuntu Mono", "Courier New", monospace;
  color: #525252;
  font-size: 0.9em;
  background-color: #f8f8f8;
  font-size: 13px;
}
img {
  height: auto;
  max-width: 100%;
}
